
html, body{
  margin: 0;
  padding: 0;
}

body { 
  color: #333; 
}

#results {
  width: 60%;
  margin: 0 auto;
}

.title { 
  width: 300px; 
}

.form-div{
  width: 300px;
  margin: 50px auto;
}

.navbar {
  margin: 0 auto;
  width: 80%;
  background-color: #666;  
  padding: 0 !important;
}

.nav-link {
  color: #fff;
}

.nav-link:first-child{
  background-color: #333;
  font-weight: bold;
}

.form-div > h1 {
  margin-bottom: 50px;
}

hr {
  width: 50%;
}

.title, .title-app, .subtitle-app {
  text-align: center;
}

input.btn {
  width: 125px !important;
  margin: 0 auto 50px auto;
  font-weight: bold;
}


