
html, body{
  margin: 0;
  padding: 0;
}

body { 
  color: #333; 
}

.dashboard, .login-title{
  text-align: center;
  margin-top: 50px;
}

.dashboard-subtitle{
  margin-top: 30px;
}

.container {
  max-width: 600px !important;
}

.form-div{
  margin: 50px auto;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center
}

.entries {
  display: flex;
  flex-direction: row;
}

.update_entries {
  display: flex;
  flex-direction: column;
  width: 250px; 
  margin-top: 20px;
  margin-left: 20px;
}

.update_entries input {
  margin: 10px 0;
}


h1.heading {
  text-align: center;
  margin: 40px 0;
}

.title { 
  width: 300px; 
}

.navbar {
  margin: 0 auto;
  width: 100%;
  background-color: #666;  
  padding: 0 !important;
}

.dashboard_navbar{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  background-color: #666;  
  padding: 0 !important;
}

.dashboard_navbar .nav-link{
  padding: .54em 2rem !important;
}

.dashboard_navbar .nav-link:hover, .navbar-login .nav-link:hover{
  background-color: #333;
  color: #fff;
}

.navbar-home {
  align-items: left;
}

.navbar-login {
  display: flex;
  align-items: right;
}

.login{
  text-align: center;
  font-size: 20px;
  text-decoration: underline;
}

.nav-link {
  color: #fff;
  font-weight: bold;
}

.navbar-home .nav-link:hover {
  background-color: #333;
  color: #fff;
  font-weight: bold;
}

.form-div > h1 {
  margin-bottom: 50px;
  text-align: center;
}

hr {
  width: 50%;
}

.title, .title-app, .subtitle-app {
  text-align: center;
}

.header {
  font-weight: bold;
  background-color: #999;
  padding: 5px 0 5px 2px;
  text-align: center;
}

.content { 
  margin-bottom: 10px;
  border-top: 1px solid #333;
}

.content > .banner-update {
  font-weight: bold;
}

.entry-img {
  width: 200px !important;
  height: 200px !important;
  margin: 0 !important;
  padding: 0 !important;
  left: 0 !important;

}

.banner-width {
  display: flex;
}

.banner-title {
  width: 20%;
}

.banner-url {
  width: 60%;
  word-wrap: break-word;  
  text-align: center;
}

.banner-desc {
  width: 20%;
}

.banner-update {
  width: 35%;
}

.btn {
  width: 125px !important;
  margin: 0 auto 50px auto;
  font-weight: bold;
}

.btn-holder {
  display: flex;
  margin-top: 20px;
}

.update_delete {
  border: 0px;
  background-color: #fff;
  color: #007bff;
  font-weight: bold;
}
.update_delete:hover{
  text-decoration: underline;
  color: #10549c;
}

.delete-btn {
  border: 0px;
  background-color: #fff;
  color: #007bff;
  font-weight: bold;
}

.delete-btn:hover{
  text-decoration: underline;
  color: #10549c;
}
