
body { color: #333 }

.title { 
  width: 300px; 
}

.form-div{
  width: 300px;
  margin: 50px auto;
}

hr {
  width: 50%;
}

.title, .title-app, .subtitle-app {
  text-align: center;
}

input.btn {
  width: 125px !important;
  margin: 0 auto 50px auto;
}


