.env
node_modules
client/src/test.http
test.http
client/src/working_files
clients/src/videos
client/src/images
models
routes/routes.js
routes/auth.js
data2.json
data_backup.json
default.json
package-lock.json
server.js